<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="input-element.html">
<link rel="import" href="select-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="login-component">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style include="shared-styles">
    </style>

    <iron-ajax
      id="loginAjax"
      url="http://localhost:3003/v1/login"
      method="post"
      handle-as="json"
      headers="[[headers]]"
      body="[[loginbody]]"
      on-response="evaluateData"
      last-response="{{data}}"
    >
    </iron-ajax>

    <div class="container">
        <h1>&iexcl;Bienvenido!</h1>
          <div class="logo" align="center">
              <img src="https://s3-us-west-1.amazonaws.com/demobucketp016788/newlogobbvaazulwayra.png" class="img-fluid pull-xs-left" alt="Bbva Wayra">
          </div>
          <h5>&nbsp;</h5>

        <div class="access-container">
          <form id="loginForm" class="form-login">
            <select-element id="documentType" label="Tipo de documento" name="documentType" options={{options}} class="select" on-change="updateInput"></select-element>
            <input-element id="documentNumber" label="N&uacute;mero de documento" name="documentNumber" maxlength={{maxlength}} cssclasses="numeric"></input-element>
            <input-element label="Password" name="password" type="password" maxlength="8" classes="alphanumeric"></input-element>
            <button type="button" class="btn btn-primary" on-click="send">Ingresar</button>
          </form>
        </div>

    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginComponent extends Polymer.Element {
      static get is() { return 'login-component'; }
      static get properties() {
        return {
          headers:{
            type: Object,
            value : {'Accept':'application/json', 'Content-Type':'application/json'}
          },
          loginbody:{
            type: Object
          },
          formJson:{
            type: Object,
            value:{}
          },
          options:{
            type:Array,
            value:[
              {value:'L', text:'DNI', maxlength:8},
              {value:'R', text:'RUC', maxlength:11},
              {value:'P', text:'Pasaporte', maxlength:12}
            ]
          },
          maxlength:{
            type:Number
          }
        };
      }

      ready(){
        super.ready();

        //this.updateInput();

        var user = sessionStorage.getItem('user');

        if(user){
          var jsonUser = JSON.parse(user);
          var myAppElement = document.createElement('my-app'+(jsonUser.isAdmin?'-admin':''));
          document.body.innerHTML = '';
          document.body.appendChild(myAppElement);
        }
      }

      send(event){
        event.preventDefault();
        this.formJson = {};
        var formElements = this.$.loginForm.childNodes;
        for(var i = 0; i < formElements.length; i++){
          this.evaluateElement(formElements[i]);
        }

        this.loginbody = {
          'user':this.formJson.documentType+this.formJson.documentNumber,
          'password':this.formJson.password
        };

        this.$.loginAjax.generateRequest();
      }

      evaluateElement(element){
        if(element.tagName == 'INPUT-ELEMENT' || element.tagName == 'SELECT-ELEMENT'){
          this.formJson[element.name] = element.getValue();
        }
      }

      evaluateData(data){
        if(data.detail.response!=null){
          sessionStorage.setItem('user', JSON.stringify(data.detail.response[0]));
          this.ready();
        }else{
          alert('Uno de los datos es incorrecto');
        }
      }

      updateInput(){
        var opt;
        for(var i = 0; i < this.options.length; i++){
          opt = this.options[i];
          if(opt.value == this.$.documentType.value()){
            this.$.documentNumber.setAttribute("maxlength", opt.maxlength);
            return;
          }
        }
      }
    }
    window.customElements.define(LoginComponent.is, LoginComponent);
  </script>
</dom-module>
