<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="select-element">
  <template>
    <style include="shared-styles">
    </style>
    <!--style>

    .form-group{
      position: relative;
      margin-bottom: 20px;
    }

    select{outline:none;}

    input:not([type=radio]):not([type=checkbox]) {
      padding: 25px 10px 0 16px;
      background: #f4f4f4;
      border-radius: 1px;
      border: 0;
      border-bottom: 1px solid #676767;
      height: 56px;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    label.control-label {
        position: absolute;
        /* top: 10px; */
        /* left: 10px; */
        margin: auto;
        overflow: hidden;
        cursor: text;
        color: #666666;
        -webkit-transition: 0.2s ease all;
        -o-transition: 0.2s ease all;
        transition: 0.2s ease all;
        top: 20px;
        left: 16px;
        font-size: 15px;
    }

    label.control-label {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 16px;
      margin: 0px;
    }

    input.has-value~label, select.has-value~label {
        top: 10px;
        left: 16px;
        font-size: 12px;
    }

    select {
        padding: 25px 10px 0 16px;
        background: #f4f4f4;
        border: 0;
        border-bottom: 1px solid #000;
        height: 56px;
        width: 100%;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
  </style-->

    <div id='[[name]]' class="form-group">
      <select id="[[name]]" name="[[name]]" class="form-control no-margin has-value">

		  </select>
      <label class="control-label">[[label]]</label>
    </div>
  </template>
  <script>
    class SelectElement extends Polymer.Element {
      static get is() { return 'select-element'; }

      static get properties(){
        return {
          type:{
            type:String,
            value:'text'
          },
          label:{
            type: String,
            value:''
          },
          name:{
            type:String,
            value:''
          },
          options:{
            type:Array,
            value:[]
          }
        };
      }

      ready() {
        super.ready();

        this.setOptionsToSelect();

        var element = this;
        this.shadowRoot.querySelector('.form-control').addEventListener('change', function(event){
            element.dispatchEvent(new Event("change"));
        });

      }

      setOptionsToSelect(){
        var sel = this.shadowRoot.querySelector('.form-control');
        sel.innerHTML = '';
        var option;
        for(var i = 0; i < this.options.length; i++){
          option = document.createElement('option');
          option.setAttribute("value", this.options[i].value);
          option.innerHTML = this.options[i].text;
          sel.appendChild(option);
        }
      }

      getValue(){
        return this.shadowRoot.querySelector('.form-control').value;
      }
    }
    window.customElements.define(SelectElement.is, SelectElement);
  </script>
</dom-module>
