<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="components/input-element.html">
<link rel="import" href="components/select-element.html">

<dom-module id="components">
  <template>
    <style include="shared-styles">
    </style>
  </template>

</dom-module>
