<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-movements.html">


<dom-module id="my-accounts">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style include="shared-styles">
    .pg-table-header {
      color: #676767;
    }
    .tables-body {
      color: red;
    }
    .left{
      color: white
    }
    .right{
      color: white
    }

    div.messages[hidden]{
      display:none;
    }
    .messages {
      color: #FFFFFF;
      text-shadow: 2px 2px #1D73B2;
      font-weight: bold;
    }
  </style>
    <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3003/v1/productos"
      headers="{{headers}}"
      handle-as="json"
      on-response="showData"
      last-response="{{data}}"
    >
    </iron-ajax>
    <div class="pg-table-header">
      <h2>Mis cuentas:</h2>
    </div>
    <div class="tables-body">
    <table class="table table-sm table-dark">
      <thead>
        <tr>
          <th>N&uacute;mero de cuenta</th>
          <th>Nombre de Producto</th>
          <th>Saldo contable</th>
          <th>Saldo disponible</th>
          <th>Divisa</th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{accounts}}" index-as="index">
          <tr>
            <td>
              <div class="left">
                <a class="link" on-click="showMovements" data-item$="[[item.id]]">[[item.id]]</a>
                <td class="center">[[item.product.name]]</td>
                <!--small>[[item.product.name]]</small-->
              </div>
            </td>
            <td class="right"><strong>[[item.currentBalance.amount]]</strong></td>
            <td class="right"><strong>[[item.availableBalance.amount]]</strong></td>
            <td class="right"><strong>[[item.currency.id]]</strong></td>
          </tr>
        </template>
      </tbody>
    </table>
    </div>
    <div class="messages" hidden="{{haydatos}}">No posee cuentas para mostrar</div>
    <div id="movements-list"></div>
  </template>

  <script>
    class MyAccounts extends Polymer.Element {
      static get is() { return 'my-accounts'; }

      static get properties(){
        return {
          headers:{
            type: Object,
            value : {'alias':''}
          },
          accounts:{
            type:Array
          },
          haydatos:{
            type:Boolean,
            value:true
          }
        }
      }

      ready(){
        super.ready();
        var user = JSON.parse(sessionStorage.getItem('user'))
        this.headers = {'alias':user.alias};
      }

      showData(data){
        if(data.detail.response!= null && data.detail.response!==undefined){
          this.accounts = data.detail.response[0].accounts;
          this.haydatos = true;
        }else{
          this.haydatos = false;
        }

      }

      showMovements(event){
        const accountId = event.target.dataset.item;
        var movementEl = document.createElement('my-movements');
        movementEl.setAttribute("accountid", accountId);
        var movList = this.shadowRoot.querySelector("#movements-list")
        movList.innerHTML ="";
        movList.appendChild(movementEl);
      }


    }

    window.customElements.define(MyAccounts.is, MyAccounts);
  </script>
</dom-module>
