<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="components/input-element.html">
<link rel="import" href="components/select-element.html">

<dom-module id="my-components">
  <template>
    <style include="shared-styles">

    </style>

    <div class="pg-table-header">
      <h4>Mi perfil</h4>
    </div>
    <div class="tables-body">
    <table class="account-table">
        <tr>
          <th></th>
          <th class="left">Valor</th>
        </tr>
        <tr>
          <td class="right"><strong>Nombre</strong</td>
          <td class="left">{{name}}</td>
        </tr>
        <tr>
          <td class="right"><strong>Segundo nombre</strong</td>
          <td class="left">{{middleName}}</td>
        </tr>
        <tr>
          <td class="right"><strong>Apellido paterno</strong</td>
          <td class="left">{{lastName}}</td>
        </tr>
        <tr>
          <td class="right"><strong>Apellido materno</strong</td>
          <td class="left">{{secondLastName}}</td>
        </tr>
        <tr>
          <td class="right"><strong>Email</strong</td>
          <td class="left">{{email}}</td>
        </tr>
    </table>
    </div>
  </template>

  <script>
    class MyComponents extends Polymer.Element {
      static get is() { return 'my-components'; }

      static get properties(){
        return {
//          headers:{
//            type: Object,
//            value : {'alias':''}
//          },
          name:{type:String, value:''},
          middleName:{type:String, value:''},
          lastName:{type:String, value:''},
          secondLastName:{type:String, value:''},
          email:{type:String, value:''}
          }
      }


      ready(){
        super.ready();
        var user = JSON.parse(sessionStorage.getItem('user'));
        this.headers = {'alias':user.alias};
        this.name = user.firstName;
        this.middleName = user.middleName;
        this.lastName = user.lastName;
        this.secondLastName = user.secondLastName;
        this.email = user.email;
      }

      showData(data){
        if(data.detail.response!= null && data.detail.response!==undefined){
          this.name = data.detail.response[0].name;
          this.middleName = data.detail.response[0].middleName;
          this.lastName = data.detail.response[0].lastName;
          this.secondLastName = data.detail.response[0].secondLastName;
          this.email = data.detail.response[0].email;
          this.haydatos = true;
        }else{
          this.haydatos =false;
        }

      }




    }

    window.customElements.define(MyComponents.is, MyComponents);
  </script>
</dom-module>
