<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="components/input-element.html">
<link rel="import" href="components/select-element.html">

<dom-module id="my-profiles">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style include="shared-styles">
    .pg-table-header{
      color: #676767;
    }
    .tables-body{
      color: white;
    }

    </style>
    <!--iron-ajax auto
      id="getProfiles"
      url="http://localhost:3003/v1/clientes/[[user.alias]]"
      headers="[[headers]]"
      handle-as="json"
      on-response="showData"
      last-response="{{data}}"
    >
  </iron-ajax-->

    <div class="pg-table-header">
      <h2>Mi perfil:</h2>
    </div>
    <div class="tables-body">
    <!--div class="tables-body" hidden="[[haydatos]]"-->
    <table class="table table-sm table-dark">
        <tr>
          <td class="right"><strong>Nombre</strong</td>
          <td class="left">{{name}}</td>
        </tr>
        <tr>
          <td class="right"><strong>Segundo nombre</strong</td>
          <td class="left">{{middleName}}</td>
        </tr>
        <tr>
          <td class="right"><strong>Apellido paterno</strong</td>
          <td class="left">{{lastName}}</td>
        </tr>
        <tr>
          <td class="right"><strong>Apellido materno</strong</td>
          <td class="left">{{secondLastName}}</td>
        </tr>
        <tr>
          <td class="right"><strong>Email</strong</td>
          <td class="left">{{email}}</td>
        </tr>
    </table>
    </div>
  </template>

  <script>
    class MyProfiles extends Polymer.Element {
      static get is() { return 'my-profiles'; }

      static get properties(){
        return {
//          headers:{
//            type: Object,
//            value : {'alias':''}
//          },
          name:{type:String, value:''},
          middleName:{type:String, value:''},
          lastName:{type:String, value:''},
          secondLastName:{type:String, value:''},
          email:{type:String, value:''}
          }
      }


      ready(){
        super.ready();
        var user = JSON.parse(sessionStorage.getItem('user'));
        this.headers = {'alias':user.alias};
        this.name = user.firstName;
        this.middleName = user.middleName;
        this.lastName = user.lastName;
        this.secondLastName = user.secondLastName;
        this.email = user.email;
      }

      showData(data){
        if(data.detail.response!= null && data.detail.response!==undefined){
          this.name = data.detail.response[0].name;
          this.middleName = data.detail.response[0].middleName;
          this.lastName = data.detail.response[0].lastName;
          this.secondLastName = data.detail.response[0].secondLastName;
          this.email = data.detail.response[0].email;
          this.haydatos = true;
        }else{
          this.haydatos =false;
        }

      }




    }

    window.customElements.define(MyProfiles.is, MyProfiles);
  </script>
</dom-module>
