<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="my-movements.html">


<dom-module id="my-transfers">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style include="shared-styles">
    .pg-table-header {
      color: #676767;
    }
    .tables-body {
      color: red;
    }
    .left{
      color: white
    }
    .right{
      color: white
    }
    .pg-select-account {
      color: #FFFFFF;
      text-shadow: 2px 2px #1D73B2;
      font-weight: bold;
    }

    div.messages[hidden]{
      display:none;
    }
  </style>
    <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3003/v1/productos"
      headers="{{headers}}"
      handle-as="json"
      on-response="showData"
      last-response="{{data}}"
    >
    </iron-ajax>
    <iron-ajax
      id="updateSaldoCargo"
      url="http://localhost:3003/v1/productos/[[alias]]/[[accountId]]"
      method="put"
      handle-as="json"
      headers="[[headers]]"
      body="[[jsonUser]]"
      on-response="_validateUpdated"
      last-response="{{updatedresponse}}"
    >
    </iron-ajax>
    <div class="pg-table-header">
      <h2>Mis transferencias:</h2>
    </div>
    <div class="pg-select-account">
      <h4>Seleccione la cuenta de cargo...</h4>
      <select name="cuentacargo">
          <template is="dom-repeat" items="{{accounts}}" index-as="index">
            <option>
              <tr>
                <td>
                  <div class="left">
                    <a class="link" on-click="showMovements" data-item$="[[item.id]]">[[item.id]]</a>
                    <td class="center">[[item.product.name]]</td>
                  </div>
                </td>
                <td class="right"><strong>[[item.availableBalance.amount]]</strong></td>
                <td class="right"><strong>[[item.currency.id]]</strong></td>
              </tr>
            </option>
          </template>


      </select>
      <div class="messages" hidden="{{haydatos}}">No posee cuentas para mostrar</div>
      <div id="movements-list"></div>
      <br/>
      <h4>Seleccione la cuenta de abono...</h4>
      <select name="cuentaabono">
        <template is="dom-repeat" items="{{accounts}}" index-as="index">
          <option>
            <tr>
              <td>
                <div class="left">
                  <a class="link" on-click="showMovements" data-item$="[[item.id]]">[[item.id]]</a>
                  <td class="center">[[item.product.name]]</td>
                </div>
              </td>
              <td class="right"><strong>[[item.availableBalance.amount]]</strong></td>
              <td class="right"><strong>[[item.currency.id]]</strong></td>
            </tr>
          </option>
        </template>
      </select>
      <div class="messages" hidden="{{haydatos}}">No posee cuentas para mostrar</div>
      <div id="movements-list"></div>
      <br/>
    <br/>
    <form name="transfer1" action="11-html5-number-input.php" method="POST">
        <h4>Introduce importe:</h4><input type="number" name="importe" value="0"><br/>
        <button type="button" class="btn btn-primary">Transferir</button>
    </form>
    </div>
  </template>

  <script>
    class MyTransfers extends Polymer.Element {
      static get is() { return 'my-transfers'; }

      static get properties(){
        return {
          headers:{
            type: Object,
            value : {'alias':''}
          },
          accounts:{
            type:Array
          },
          haydatos:{
            type:Boolean,
            value:true
          }
        }
      }

      ready(){
        super.ready();
        var user = JSON.parse(sessionStorage.getItem('user'))
        this.headers = {'alias':user.alias};
      }

      showData(data){
        if(data.detail.response!= null && data.detail.response!==undefined){
          this.accounts = data.detail.response[0].accounts;
          this.haydatos = true;
        }else{
          this.haydatos = false;
        }

      }

      showMovements(event){
        const accountId = event.target.dataset.item;
        var movementEl = document.createElement('my-movements');
        movementEl.setAttribute("accountid", accountId);
        var movList = this.shadowRoot.querySelector("#movements-list")
        movList.innerHTML ="";
        movList.appendChild(movementEl);
      }


    }

    window.customElements.define(MyTransfers.is, MyTransfers);
  </script>
</dom-module>
