<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
      .card {
        margin: 24px;
        padding: 16px;
        color: #757575;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .circle {
        display: inline-block;
        width: 64px;
        height: 64px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 30px;
        line-height: 64px;
      }

      h1 {
        margin: 16px 0;
        /*color: #212121;*/
        color: white;
        font-size: 22px;
      }
      /* estilos del login  */
      :host {
        display: block;
      }

      .container h1{
        text-align:center;
      }


      @media (min-width: 769px){
        .form-login {
            width: 300px;
            margin: 0px auto;
        }

        .access-container {
            margin: 0px auto;
        }
      }

      @media (max-width: 768px){
        .access-container {
            width: 100%;
            padding: 0px 32px;
            box-sizing: border-box;
        }
      }
      /* Estilos de Select-element */
      .form-group{
        position: relative;
        margin-bottom: 20px;
      }

      select{outline:none;}

      input:not([type=radio]):not([type=checkbox]) {
        padding: 25px 10px 0 16px;
        background: #f4f4f4;
        border-radius: 1px;
        border: 0;
        border-bottom: 1px solid #676767;
        height: 56px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      label.control-label {
          position: absolute;
          /* top: 10px; */
          /* left: 10px; */
          margin: auto;
          overflow: hidden;
          cursor: text;
          color: #666666;
          -webkit-transition: 0.2s ease all;
          -o-transition: 0.2s ease all;
          transition: 0.2s ease all;
          top: 20px;
          left: 16px;
          font-size: 15px;
      }

      label.control-label {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin: 0px;
      }

      input.has-value~label, select.has-value~label {
          top: 10px;
          left: 16px;
          font-size: 12px;
      }

      select {
          padding: 25px 10px 0 16px;
          background: #f4f4f4;
          border: 0;
          border-bottom: 1px solid #000;
          height: 56px;
          width: 100%;
          box-sizing: border-box;
          -webkit-appearance: none;
          -moz-appearance: none;
          text-indent: 1px;
          text-overflow: '';
      }
      /* Estilos del input element */
      .form-group{
        position: relative;
        margin-bottom: 20px;
      }

      input{outline:none;}

      input:not([type=radio]):not([type=checkbox]) {
        padding: 25px 10px 0 16px;
        background: #f4f4f4;
        border-radius: 1px;
        border: 0;
        border-bottom: 1px solid #676767;
        height: 56px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      label.control-label {
          position: absolute;
          /* top: 10px; */
          /* left: 10px; */
          margin: auto;
          overflow: hidden;
          cursor: text;
          color: #666666;
          -webkit-transition: 0.2s ease all;
          -o-transition: 0.2s ease all;
          transition: 0.2s ease all;
          top: 20px;
          left: 16px;
          font-size: 15px;
      }

      label.control-label {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
        margin: 0px;
      }

      input.has-value~label, select.has-value~label {
          top: 10px;
          left: 16px;
          font-size: 12px;
      }


      input.invalid~label {
          color: #b92a45;
      }

      input:not([type=radio]):not([type=checkbox]).invalid {
        color: #121212;
        background-color: #fcdfdf;
        border-bottom-color: #b92a45;
      }
      /* my app  admin styles and  my app admin styles */
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }
      /*-------------Banda superior-----------------------------*/
      app-header {
        color: #9CA6B5;
        background-color:#072146;
      }
      /*------------Menú de la izquierda : opciones -----------*/
      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: #121212;
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: #121212;
        font-weight: bold;
      }

      .logo1 {
        background-color: #012D54;
      }
      .body1 {
        background-color: #2DCCCD;
        height: 100%;
      }
      .footer1 {
        background-color: #2DCCCD;
        height: 100%;
      }
      /*----------MANAGERUSER Y MANAGERUSER2 */
      @media (min-width: 769px){
        .form-register {
            width: 300px;
            margin: 0 40px;
            /*margin: 0px auto;*/
        }

        .access-container {
            margin: 0px auto;
        }
      }
    </style>
  </template>
</dom-module>
